body {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: Calibri;
}

.abody {
    background-color: rgb(57, 54, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 15vh;
}

textarea {
    color: rgb(255, 255, 255);
    font-family: Calibri;
    border: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.width-95vw {
    width: 95vw;
}

.height-45vh {
    height: 45vh;
}

.width-45 {
    width: 45%;
}

.height-100 {
    height: 100%;
}

.font-3vh {
    font-size: 3vh;
}

.border-box {
    box-sizing: border-box;
}

.padding-3 {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.radius-2vh {
    border-radius: 2vh;
}

.bg-blue {
    background-color: rgb(81, 77, 100);
    border: none;
}

.font-6vh {
    font-size: 6vh;
}

.weight-600 {
    font-weight: 600;
}

.text-center {
    text-align: center;
}